<div id="client_area">
  <%= link_to('Back', root_path) %>
  <h6 id="ui_title">My Work</h6>

  <% MyApp.all.each do |my_app| %>
      <div class="work_divs">
        <div class="work_domain"><%= my_app.domain %></div>
        <div class="work_description"><%= my_app.description %></div>
        <div class="work_technologies">Technologies Used : <%= my_app.technologies %></div>

        <%= first_image_path = nil %>

        <div class="work_ui_links">
          <% my_app.my_app_uis.each_with_index do |ui, index| %>
            <% first_image_path ||= ui.image_path %>
              <% image = asset_path ui.image_path %>
              <%= if index == 0; link_to ui.name, '#', :remote => true, :onclick => "document.getElementById(#{my_app.id}).style.backgroundImage = 'url(#{image})';"; end %>

              <% if index > 0 %> | <%= link_to ui.name,
                                               '#',
                                               :remote => true,
                                               :onclick => "document.getElementById(#{my_app.id}).style.backgroundImage = 'url(#{image})';" %>
              <% end %>
          <% end %>

          <% if first_image_path.blank? %>
              <div  class="my_app_ui" >Confidential Work. Preview restricted</div>
          <% else %>
            <div id=<%= my_app.id %> class="my_app_ui" style="background-image: url(<%= asset_path  first_image_path %>);"></div>
          <% end %>


        </div>
      </div>
      <br><br>
  <% end %>

</div>
