<div id="side_bar"></div>
<div id= "title_name">atul</div>
<div id= "title_surname">shimpi</div>
<div id= "welcome">Your "Ruby on Rails" freelancer. Welcome to my site.</div>
<div id= "welcome_hr"></div>
<div id="profile_photo"></div>
<div id="contact_details">
  <%= link_to('My Work', work_path)%> |
  <%= link_to('My Github Profile', 'https://github.com/atul-shimpi',
              target: '_blank')%> |
  <%= link_to('My Blogs', 'https://atulshimpi.wordpress.com/2015/08/16/installing-ruby-on-rails-on-windows/',
              target: '_blank')%>
  <br>
  Cell : +91-9890979429<br>
  Email : shimpiatul@hotmail.com <br>
  Skype : shimpiatul
</div>


<div id="introduction_upper">
  <% each_introduction do |question_no, question, answer| %>
      <p id="question"><%= question %> </p>
      <p id="answer"><%= answer.html_safe %></p><br>
      <% break if question_no == 4 %>
  <% end %>
</div>
<br>
<div id="introduction_lower">
  <br>
  <% each_introduction do |question_no, question, answer| %>
      <% if question_no > 4 %>
        <p id="question"><%= question %> </p>
        <p id="answer"><%= answer.html_safe %></p><br>
      <% end %>
  <% end %>
</div>
